@keyframes shake {
    30%, 70% { transform: translate(-10px, 0); }
    10%, 50%, 90% { transform: translate(10px, 0); }
    100% { transform: translate(0, 0); }
}

body {
    background-color: #f8f8f8;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
}

main {
    background-color: #fff;
    border: solid 1px #f0f0f0;
    border-radius: 1rem;
    margin: auto;
    padding: 1rem 3.5rem;
    width: 400px;
}

form {
    margin: 1rem auto;
}

form > div {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

form > div > input {
    margin-top: 0.75rem;
    padding: 0.5rem;
}

form > div > label {
    font-size: 0.75rem;
}

input {
    border: 1px solid #aaa;
    border-radius: 5px;
}

header {
    color: #28313a;
    text-align: center;
}

header > h1 {
    font-size: 1.25rem;
    line-height: 3rem;
}

button {
    background: #28a745;
    border: 1px solid #28a745;
    border-radius: 5px;
    color: #fff;
    margin: 1rem 0;
    padding: 0.5rem;
    width: 100%;
}

button:hover {
    background: green;
    box-shadow: 0 0 0 0.2rem rgb(40 167 69 / 50%);
    cursor: pointer;
    transition: box-shadow 0.15s, background 0.15s;
}

#login-error {
    animation: shake 0.5s;
    background-color: #ff000080;
    border-radius: 5px;
    font-size: 0.9rem;padding: 0.5rem;
    font-weight: bold;
    margin: 2rem 0;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    body {
        background-color: #fff;
    }

    main {
        border: 0;
        margin: 0;
        padding: 1rem;
        width: 100%;
    }
}
